# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
